<%- include('./partials/header.ejs'); %>
    <div id="chat-container">
      <div id="search-container">
        <input type="text" placeholder="Search" />
      </div>
      <div id="conversation-list">
        <div class="conversation active">
          <img src="./images/user1.png" alt="MinhajSadik" />
          <div class="title-text">Minhaj Sadik</div>
          <di class="created-date"> Apr 15 </di>
          <div class="conversation-message">Thank You So Much</div>
        </div>
        <div class="conversation">
          <img src="./images/user2.png" alt="MinhajSadik" />
          <div class="title-text">SharMina</div>
          <di class="created-date"> Apr 15 </di>
          <div class="conversation-message">Happy Birthday Minhaj</div>
        </div>
      </div>
      <div id="new-message-container">
        <a href="#">+</a>
      </div>
      <div id="chat-title">
        <span>SharMina</span>
        <img src="./images/trash.png" alt="Delete Conversation" />
      </div>
      <div id="chat-message-list">
        <div class="message-row other-message">
          <div class="message-content">
            <img src="./images/user1.png" alt="MinhajSadik" />
            <div class="message-text">Thank You So Much</div>
            <div class="message-time">Apr 15</div>
          </div>
        </div>
        <div class="message-row you-message">
          <div class="message-content">
            <div class="message-text">Happy Birthday Minhaj</div>
            <div class="message-time">Apr 15</div>
          </div>
        </div>
      </div>
      <div id="chat-form">
        <img src="./images/attachment.png" alt=Add Attachment"" />
        <input type="text" placeholder="Type a message" />
      </div>
    </div>

    <div class="modal-wrapper">
      <div class="modal">
        <a href="#" class="modal-close">+</a>
        <div class="modal-title">
          <h2>Create New Conversation</h2>
        </div>
        <div class="modal-body">
          <form>
            <input type="text" placeholder="Name" />
            <input type="text" placeholder="Username" />
            <input type="button" value="Submit" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
